/* Navbar.css */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--primary-color);
  z-index: 1000; /* Ensure this is higher than the hero section */  
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-menu ul li {
  margin: 0px 12px; /* Adjust this margin to add space between items */
  width: 100%;
}

.nav-menu li {
  margin: 0 10px;
  font-size: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color);
}

.active-link {  
  text-decoration: underline;  
}

/* Dropdown Menu */
.dropdown {
  position: relative;  
}

.dropdown-menu {
  position: absolute;
  display: block !important;
  top: 100%;
  left: 0;
  background-color: var(--background-color);
  list-style: none;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 10px 0;
  padding-left: 15px;
}

.dropdown-menu a {
  color: var(--primary-color);
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: var(--secondary-color);
}

.nav-toggle {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

.nav-close {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

@media screen and (min-width: 1920px) {
  .logo {
    font-size: 60px;
  }

  .nav-menu ul li a {
    font-size: 30px;
    margin: 0 14px;
  }
}

@media screen and (max-width: 1700px) and (min-width: 1500px) {
  .logo {
    font-size: 40px;
  }

  .nav-menu ul li a {
    font-size: 30px;
    margin: 0 12px;
  }
}

@media screen and (max-width: 1699px) and (min-width: 1300px) {
  .logo {
    font-size: 35px;
  }

  .nav-menu ul li a {
    font-size: 27px;
    margin: 0 7px;
  }
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 30px;
  }

  .nav-menu ul li a {
    font-size: 25px;
    margin: 0 7px;
  }
}

@media screen and (min-width: 600px) {
  .logo {
    font-size: 30px;
  }

  .nav-menu ul li a {
    font-size: 20px;
    margin: 0 4px;
  }
}

/* Mobile Styles */
@media (max-width: 500px) {
  .nav-toggle {
    display: block;
    margin-right: 9px;
    margin-top: 5px;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #2D383E;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .nav-menu.show-menu {
    display: flex;
  }

  .nav-menu ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-menu ul li {
    margin: 10px 0;
    width: 100%;
  }

  .nav-menu ul li a {
    font-size: 18px;
    width: 100%;
  }  

  .dropdown-menu {
    position: static;
    box-shadow: none;    
    background-color: #2D383E;
    padding: 0;
  }

  .dropdown-menu li {
    margin: 10px 0;
    padding-left: 15px;    
  }
}